{% extends 'todoapp/main.html'%}

{%block content%}
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" action="" method="post">
                <div class="mb-3">
                    <h1 class="align-items-center vh-10 d-flex justify-content-center">Sign-in</h1>                       
                </div>
                {% csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Sign-in" class="btn-block text-center vh-40 btn btn-outline-primary">
              </form>
              <div>
                <p class="mb-0  text-center" >Don't have an account? <a href="{% url 'register' %}" class="text-primary fw-bold">Sign-up</a></p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock content%}